<div class="img">
    <div class="container">
      <div class="row">
        <div class="banner-header text-center">
          <h1 class="text-white text-center">|Best Shopping Website</h1>
          <h3 class="text-center text-white">Go And Explore Our E-Commerce-Web App</h3>
      <!-- HTML !-->
    <button class="button-58" role="button"><span class="text">Explore</span><span>Products</span></button>
           
        </div>
        
      </div>
    </div>
    </div>

    <!---------------------------------------- About-Us  -->
    <div class="container-fluid mb-5">
        <div class="row">
            <div class="col-lg-8 col-md-12">
                <div class="img11">

                </div>
            </div>
            <div class="col-lg-4" col-md-12>
                <div class="box">
                    <h1>About-Us 👨‍💻</h1>
                    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Dolorem quo provident facilis 
                        rblanditiis laudantium voluptas. Lorem, ipsum dolor sit amet consectetur adipisicing elit.
                         Laborum incidunt totam odio! </p>
                </div>
            </div>
        </div>
    </div>
